.split-pane-divider {
    /*-fx-padding: 0 1 0 1 ;*/
    -fx-background-color: #dfe6e9 ;
    /*-fx-background-insets: 0;*/
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}


.button {
    -fx-background-color: #dfe6e9;
    -fx-background-radius: 5px;
}
.button:hover {
    -fx-background-color: #636e72;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#create{
    -fx-background-color: #55efc4;
}

#create:hover{
    -fx-background-color:#00b894;
}